{% extends 'admin/layout.html' %}

{% block title %}Canvas平面图{% endblock %}
{% block styles %}
	{{ super() }}
    <link href="{{ static_file('css/admin.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block container %}
	<div id="contentContainer" class="drawplan-container">
        <div class="btn-wrap">
			<input id="nextBtn" type="button" value="Next" data-operation="" />
			<input id="delBtn" type="button" value="Del" />
			<input id="drawBtn" type="button" value="Draw" />
        </div>

		<canvas id="canvas" class="canvas">
			This is a Canvas~!
		</canvas>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="{{ static_file('js/admin/drawPlan.js') }}"></script>
{% endblock %}
