{% extends 'admin/layout.html' %}

{% block title %}Canvas平面图{% endblock %}
{% block style %}
	{{ super() }}
    <link href="{{ static_file('css/admin.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block containert %}
	<div id="contentContainer" class="container">
		<input id="drawBtn" type="button" value="Draw" />
		<input id="delBtn" type="button" value="Del" />
        <input id="nextBtn" type="button" value="Next" data-operation="" />
		<canvas id="canvas">
			This is a Canvas~!
		</canvas>
		<p id="svgList">
		</p>
	</div>
{% endblock %}

{% block script %}
	{{ super() }}
	<script src="{{ static_file('js/admin/drawPlan.js') }}"></script>
{% endblock%}
