{% extends 'admin/layout.html' %}

{% block container %}
<a class="btn btn-primary btn-lg btn-block" href="{{ url_for('apollo:admin.floor_create') }}">添加</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>楼层</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% for f in floor_list %}
    <tr>
        <td>{{ f.floor }}</td>
        <td>
            <a class='btn btn-default btn-primary' href="{{ url_for('apollo:admin.floor_edit', floor_id=f.id) }}">编辑</a>
            <a class='btn btn-default btn-primary' href="{{ url_for('apollo:admin.floor_layout', floor_id=f.id) }}">商店布局</a>
            <a class='btn btn-default btn-primary' href="{{ url_for('apollo:admin.floor_shops', floor_id=f.id) }}">楼层商店</a>
            <a class='btn btn-danger' href="javascript:void(0);" data-action="kill" data-confirm="true" data-after="remove" data-oid="{{ f.id  }}">删除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    var operatorURI = '/admin/floor/operation/';
</script>
{{ super() }}
<script type="text/javascript" src="{{ static_file('js/apollo/admin_list.js') }}"></script>
{% endblock %}
