{% extends 'admin/layout.html' %}

{% block container %}
	<div class="shopinfo-container clearfix">
        <div class="btn-wrap col-sm-2">
			<a id="saveBtn" href="javascript: void 0;" class="btn btn-primary" role="button">保存</a>
			<!-- <a id="nextBtn" href="#" class="btn btn-default" role="button" data-operation="">下一步</a> -->
		</div>
		<div id="canvasContainer"></div>
	</div>

	<div  id="shopForm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">商店信息</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="exampleInputEmail1">店铺名</label>
						<input type="text" class="form-control" id="shopNameInput" placeholder="输入店铺名">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">联系方式</label>
						<input type="text" class="form-control" id="shopTelInput" placeholder="输入联系方式">
					</div>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
					<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div  id="iconForm" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">图标信息</h4>
				</div>
				<div class="modal-body">
                    <select id="iconType" name="facility_type" class="form-control">
                        <option value="counter">收银台</option>
                        <option value="restaurant">餐馆</option>
                        <option value="wc">洗手间</option>
                        <option value="escalator">扶梯</option>
                        <option value="lift">电梯</option>
                        <option value="stair">楼梯</option>
                        <option value="exit">安全出口</option>
                        <option value="hydrant">消防栓</option>
                        <option value="garbage">垃圾桶</option>
                        <option value="phone">电话厅</option>
                    </select>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
					<button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endblock %}

{% block scripts %}
<script>
    var floor_id = {{ layout.floor_id|tojson|safe }},
        layout = {{ layout.data|tojson|safe }};
</script>
{{ super() }}
<script src="{{ static_file('js/lib/kinetic.js') }}"></script>
<script src="{{ static_file('js/admin/shops.js') }}"></script>
{% endblock %}
