{% extends 'admin/layout.html' %}

{% block container %}
<a class="btn btn-primary btn-lg btn-block" href="{{ url_for('apollo:admin.shop_create') }}">添加</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% for s in shop_list %}
    <tr>
        <td>{{ s.id }}</td>
        <td><a target="_blank" href="">{{ s.name }}</a></td>
        <td>
            <a class='btn btn-default btn-primary' href="{{ url_for('apollo:admin.shop_edit', shop_id=s.id) }}">编辑</a>
            <a class='btn btn-danger' href="javascript:void(0);" data-action="kill" data-confirm="true" data-after="remove" data-oid="{{ s.id  }}">删除</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    var operatorURI = '/admin/shop/operation/';
</script>
{{ super() }}
<script type="text/javascript" src="{{ static_file('js/apollo/admin_list.js') }}"></script>
{% endblock %}
