{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link href="{{ static_file('css/index.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<!-- container -->
<div class="nav-wrap">
    <nav class="clearfix">
        <a href="javascript: void 0;" class="mall-name">西单大悦城</a>
        <div class="search-wrap">
            <input type="text" name="search" placeholder="搜索">
            <span class="icon-search"></span>
        </div>
    </nav>
</div>
<div class="container" id="fullpageContainer">
    {% for floor in floor_data %}
    <section class="section">
        {% if loop.first %}
        <div class="header-wrap">
            <img class="header-bg" src="{{ static_file('img/mall-header-bg.jpg') }}">
            <div class="mall-header">
                <h3>西单大悦城</h3>
                <p>
                    商场地址：<span>君太百货的北侧，西单北大街131号位于西单商业区的中心，南侧距长安街不足200米，北侧连通金融街和新街口特色商业区。(地铁1号线或4号线西单站)</span>
                </p>
                <p>营业时间：<span>10:00-21:00</span></p>
                <p>联系电话：<span>010-66517777</span></p>
                <p>停车信息：<span>西单有地下停车； 停车不方便； 可以用积分换停车券； 查看全部</span></p>
                <p>人均消费：<span>¥330</span></p>
                <p>推荐产品：<span>美食 (2404) ZARA (1736) 服装 (1564) 更多</span></p>
            </div>
        </div>
        {% endif %}
        <div class="floor-header-wrap">
            <div class="floor-header clearfix">
                <p class="time-tag">10.1-10.7日</p>
                <p class="discount">2.5折/全场500减200</p>
                <p class="phone">电话： <span id="phone{{ loop.index }}">010-59566688</span></p>
            </div>
        </div>
        <div class="canvas-wrap row-style">
            <ul class="shop-list left shopList{{ loop.index }}">
            </ul>
            <div id="canvasContainer{{ loop.index }}" class="canvas-container">
                This is a Canvas!@
            </div>
            <ul class="shop-list right shopList{{ loop.index }}">
            </ul>
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ static_file('js/lib/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ static_file('js/lib/jquery.slimscroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_file('js/lib/jquery.fullPage.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_file('js/avalon.js') }}"></script>
    <script src="{{ static_file('js/lib/kinetic.js') }}"></script>
    <script type="text/javascript" src="{{ static_file('js/apollo/index.js') }}"></script>
    <script>
        var floorData = {{ floor_data|tojson|safe }};
    </script>   
{% endblock %}
